.wrapper {
  composes: wrapperBlock from "../../index.css";

  display: flex;
  align-items: center;
}

.themeSelect {
  max-width: 100px;
  margin-left: auto;
}

.dark {
  background: dimgrey;
}

.dark-text {
  color: aliceblue;
}

.red {
  background: lightcoral;
}

.red-text {
  color: aqua;
}

.some {
  background: lightgreen;
}

.some-text {
  color: darkslateblue;
}

.default {
  background: #007bff;
}

.default-text {
  color: #fff;
}
