.wrapper {
  position: relative;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 250px;
  height: 50px;

  font-weight: 900;
  line-height: 50px;
  text-align: center;
  color: #f7fca0;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  transform: translate(-50%,-50%);
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;

  display: block;
  width: 15px;
  height: 15px;

  background: #f7fca0;

  animation: load 0.7s infinite alternate ease-in-out;
}

.loader::before {
  top: 0;
}

.loader::after {
  bottom: 0;
}

@keyframes load {
  0% {
    left: 0;

    width: 15px; ;
    height: 30px;
  }
  50% {
    width: 40px; ;
    height: 8px;
  }
  100% {
    left: 235px;

    width: 15px;;
    height: 30px;
  }
}
