.affair {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  background-color: #eee;
  cursor: pointer;
}

.affair .btnClose,
.affair .btnClose:hover,
.affair .btnClose:focus {
  box-shadow: none;
  background-color: transparent;
  border: 0;
  margin-left: auto;
}

button svg {
  fill: #333;
  transition: fill 0.3s;
}

button:hover svg,
button:focus svg {
  fill: palevioletred;
}
