.affairs {
  width: 300px;
  margin: 20px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.affairsList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.affairsList li {
  transition: background-color 0.3s;
}

.affairsList li:nth-child(odd) {
  background-color: #f9f9f9;
}

.affairsList li:hover {
  background-color: gainsboro;
}

.priorities {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.btn {
  width: 22%;
  padding: 5px 10px;
  color: #333;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition-property: color, background-color, border-color;
  transition-duration: 0.3s;
}

.btn:focus {
  outline: none;
}

.btn:hover,
.btn:focus {
  color: #fff;
}

.btnAll {
  border-color: lightslategray;
}

.btnHigh {
  border-color: indianred;
}

.btnMiddle {
  border-color: yellowgreen;
}

.btnLow {
  border-color: cornflowerblue;
}

.btnAll:hover,
.btnAll:focus {
  background-color: lightslategray;
}

.btnHigh:hover,
.btnHigh:focus {
  background-color: indianred;
}

.btnMiddle:hover,
.btnMiddle:focus {
  background-color: yellowgreen;
}

.btnLow:hover,
.btnLow:focus {
  background-color: cornflowerblue;
}
