.affair {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;

  background-color: #eee;
  cursor: pointer;
}

.affair .btnClose {
  margin-left: auto;
  padding-right: 0;

  background-color: transparent;
  border: 0;
}

.affair .btnClose:hover,
.affair .btnClose:focus {
  background-color: transparent;
  box-shadow: none;
}

.btnClose svg {
  fill: #333;

  transition: fill 0.3s;
}

.btnClose:hover svg,
.btnClose:focus svg {
  fill: palevioletred;
}
