.affairs {
  width: 300px;
  margin: 20px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.affairsList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.affairsList li {
  transition: background-color 0.3s;
}

.affairsList li:nth-child(odd) {
  background-color: #f9f9f9;
}

.affairsList li:hover {
  background-color: gainsboro;
}

.priorities {
  composes: btnGroup from '../../index.css';
  width: 100%;
  padding: 20px;
}

.priorities button {
  width: 25%;
}
