.checkboxWrapper {
  position: relative;

  display: block;
  padding-left: 1.25rem;
}

.checkbox {
  position: absolute;

  box-sizing: border-box;
  margin-top: 0.4rem;
  margin-left: -1.25rem;
  padding: 0;
}

.spanClassName {
  display: inline-block;
  margin-bottom: 0;

  font-size: 1rem;
  line-height: 1.5;
}
