.radioWrapper {
  composes: radioCheckboxWrapper from "../../../../index.css";
}

.radio {
  composes: radioCheckboxInput from "../../../../index.css";
}

.info {
  composes: radioCheckboxInfo from "../../../../index.css";
}
