[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.bg {
  background-color: #6fb8eb;
  background-image: linear-gradient(230deg,#caeaf6,#a0eaf1 46%,#6fb8eb);
}

.usersBlock {
  min-width: 350px;
  max-width: 700px;
  margin: 0 auto;
  padding: 30px 10px 20px;

  color: #fff;
}

.inputWrapper {
  position: relative;

  display: flex;
  padding-top: 20px;
  padding-bottom: 10px;
}

.errorMessage {
  position: absolute;
  top: 0;
  left: 10px;

  color: #df627d;
}

.usersBlock input {
  width: 75%;
  margin: 0;
  padding: 10px;

  font-size: 16px;

  border: 1px solid transparent;
  border-radius: 0;

  transition-duration: 0.3s;
  transition-property: border-color;
}

.usersBlock input:focus {
  outline: none;
}

.usersBlock input:focus {
  border-color: #6fb8eb;
}

.usersBlock input.error {
  border-color: #df627d;
}

.addBtn {
  width: 25%;
  padding: 10px;

  font-size: 16px;
  text-align: center;
  color: #fff;

  background-color: #df627d;
  border: 1px solid transparent;
  border-radius: 0;

  transition: 0.3s;
  transition-duration: 0.3s;
  transition-property: background-color;
}

.addBtn:focus {
  outline: none;
}

.addBtn:hover:not(:disabled),
.addBtn:focus {
  background-color: #ff8a95;
}

.totalUsers {
  display: block;
  padding: 5px 10px;

  font-size: 22px;
}
